body {
    background: rgba(138, 138, 138, .3);
}

.container_imc {
    position: relative;
    background: rgba(255, 73, 0, .8);
    border-radius: 0 1.25rem;
    height: 100%;
    border: .125rem solid grey;
    width: 20rem;
    margin: auto;
    padding: .75rem;
    top: 8vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .6);
}

.container_imc h1 {
    color: #f1f1f1;
    text-align: center;
    margin: 0;
}

.container_imc .dados {
    display: block;
    margin-bottom: 1.375rem;
    width: 100%;
}

.container_imc .dados .kg {
    position: relative;
    float: right;
    margin: -2.5rem 1.75rem 0 0;
    color: #808080;
    font: normal 16pt Arial;
    background: #fff;
    padding: .125rem .125rem .125rem .875rem;
}

.container_imc .dados .cm {
    position: relative;
    float: right;
    margin: -2.375rem 1.75rem 0 0;
    color: #808080;
    font: normal 16pt Arial;
    background: #fff;
    padding: .125rem .125rem .125rem .5625rem;
}

.container_imc .dados .text_imc {
    position: relative;
    float: right;
    margin: -2.25rem 1.75rem 0 0;
    color: #808080;
    font: normal 14pt Arial;
}

.container_imc .dados input {
    margin-top: 1.5625rem;
    border-radius: .5rem;
    border: .125rem solid grey;
    padding: .625rem;
    width: 80%;
    margin-left: 6%;
    cursor: pointer;
    font: normal 16pt Arial;
}

.container_imc .dados input[type=number]::-webkit-inner-spin-button {
    appearance: none;
}

.container_imc .dados input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.container_imc .dados input#indice {
    background: rgba(257, 257, 257, .9);
    color: #000;
}

.container_imc p {
    color: #f1f1f1;
    text-align: center;
    margin-bottom: 1.375rem;
    font-size: 1.25rem;
    font-family: Arial;
}

.container_imc .container_button {
    display: flex;
    width: 100%;
    margin: auto;
}

.container_imc .container_button .calcular {
    background: green;
    position: relative;
    margin-left: .375rem;
    margin-bottom: .375rem;
    border-radius: .5rem;
    padding: .625rem;
    color: #FFF;
    font-size: 1rem;
    transition: filter .2s;
    margin: auto;
}

.container_imc .container_button .calcular:hover {
    background: rgb(0, 126, 2);
    filter: brightness(1.2);
}

.container_imc .container_button .nome {
    margin-top: 45px;
    text-align: center;
}

@media screen and (orientation: landscape) {
    .container_imc {
        margin-top: 3vh;
}
}

@media screen and (min-width: 801px) {
    .container_imc {
        width: 50%;
        height: 100%;
        top: 20vh;
    }

    .container_imc .dados input {
        width: 80%;
        margin-left: 8%;
    }

    .container_imc .dados .kg {
        margin: -2.375rem 0 0 0;
        margin-right: 8.8%;
    }

    .container_imc .dados .cm {
        margin: -2.375rem 0 0 0;
        margin-right: 8.8%;
    }

    .container_imc .dados .text_imc {
        margin: -2.25rem 0 0 0;
        margin-right: 10%;
    }
    
    .container_imc .container_button {
        margin: auto;
        width: 100%;
    }

    .container_imc .container .calcular {
        margin: auto;
    }
}
